In [306]:
import numpy as np

In [307]:
a = np.array([4.4, 3.8, 4.8, 4.0, 3.4, 4.2, 5.2])
b = a.mean()
np.sum((a - b)**2)/7
b

np.float64(4.257142857142857)

Задание 2.7
0.0/2.0 points (graded)
Подготовьте данные к классификации. Условно разделите вино на хорошее и плохое. Хорошим вином будем называть то, параметр quality которого — 6 и более.
Разделите выборку на обучающую и тестовую в соотношении 70/30, в качестве значения параметра random_state возьмите число 42.
Для начала обучите два классификатора: логистическую регрессию (с параметрами по умолчанию) и дерево решений (random_state = 42, максимальная глубина — 10).

In [308]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn import tree
from sklearn import model_selection
from sklearn import metrics
from sklearn import linear_model

In [309]:
df_2_7 = pd.read_csv('C:\скил\DST-156\IDE_NEW\MATH&ML-9. Математика ансамблевых методов/wineQualityReds.csv')
df_2_7.head()

,Unnamed: 0,fixed.acidity,volatile.acidity,citric.acid,residual.sugar,chlorides,free.sulfur.dioxide,total.sulfur.dioxide,density,pH,sulphates,alcohol,quality
0,1,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,2,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,3,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,4,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,5,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [310]:
df_2_7['target']= np.where(df_2_7.quality >=6,1,0)

In [311]:
y= df_2_7['target']
X =df_2_7.drop(['quality','target'],axis=1)

# Формируем обучающую и тестовую выборки
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.3, stratify=y, random_state=42)
#print('Train shape: {}'.format(X_train.shape))
#print('Test shape: {}'.format(X_test.shape))

In [312]:
# Инициализируем модель дерева решений с максимальной глубиной 1 и обучаем ее
dt_2_7 = tree.DecisionTreeClassifier(
    max_depth=10, #глубина
    #criterion='entropy', #критерий информативности
    random_state=42 #генератор случайных чисел
)
dt_2_7.fit(X_train, y_train)
# Визуализируем дерево решений в виде графа
#tree.plot_tree(
    #decision_tree=dt_7_2, #дерево решений 
    #feature_names=X.columns, #имена факторов
    #proportion=True, #выводить ли количество данных в пропорциях
    #filled=True, #расцветка
    #impurity=True, #отображать ли неоднородность в вершинах
    #class_names=dt_7_2.classes_, #имена классов

# Делаем предсказание
y_train_pred_2_7 = dt_2_7.predict(X_train)
y_test_pred_2_7 = dt_2_7.predict(X_test)
# Считаем метрику accuracy на тестовой выборке
print('F1_test: {:.3f}'.format(metrics.f1_score(y_test, y_test_pred_2_7)))
print('F1_train: {:.3f}'.format(metrics.f1_score(y_train, y_train_pred_2_7)))

F1_test: 0.766
F1_train: 0.935

In [313]:
# Инициализируем модель дерева решений с максимальной глубиной 1 и обучаем ее
dt_2_7 = linear_model.LogisticRegression()
dt_2_7.fit(X_train, y_train)
# Визуализируем дерево решений в виде графа
#tree.plot_tree(
    #decision_tree=dt_7_2, #дерево решений 
    #feature_names=X.columns, #имена факторов
    #proportion=True, #выводить ли количество данных в пропорциях
    #filled=True, #расцветка
    #impurity=True, #отображать ли неоднородность в вершинах
    #class_names=dt_7_2.classes_, #имена классов

# Делаем предсказание
y_train_pred_2_7 = dt_2_7.predict(X_train)
y_test_pred_2_7 = dt_2_7.predict(X_test)
# Считаем метрику accuracy на тестовой выборке
print('F1_test: {:.3f}'.format(metrics.f1_score(y_test, y_test_pred_2_7)))
print('F1_train: {:.3f}'.format(metrics.f1_score(y_train, y_train_pred_2_7)))

F1_test: 0.770
F1_train: 0.754

C:\Users\molde\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [314]:
df_2_7['target']= np.where(df_2_7.quality >=6,1,0)
Y= df_2_7['target']
X = df_2_7.drop(['target', 'quality'], axis= 1)
X_train, X_test, y_train, y_test = model_selection.train_test_split(
    X, Y, test_size=0.3, random_state=42)
model = linear_model.LogisticRegression()
model.fit(X_train, y_train)
preds_train = model.predict(X_train)
preds_test = model.predict(X_test)
print(metrics.f1_score(preds_test, y_test))
model = tree.DecisionTreeClassifier(max_depth = 10, random_state=42)
model.fit(X_train, y_train)
preds_train = model.predict(X_train)
preds_test = model.predict(X_test)
print(metrics.f1_score(preds_test, y_test))

0.7390476190476191
0.7601476014760148

C:\Users\molde\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Задание 2.8

1 point possible (graded)

Обучите модель с использованием бэггинга (класс BaggingClassifier с random_state=42).


Возьмите из предыдущего задания алгоритм, показавший наилучшее качество, и укажите для него новое количество моделей — 1500. Вычислите новое значение F1-score.

In [315]:
from sklearn.ensemble import BaggingClassifier
df_2_7['target']= np.where(df_2_7.quality >=6,1,0)
Y= df_2_7['target']
X = df_2_7.drop(['target', 'quality'], axis= 1)
X_train, X_test, y_train, y_test = model_selection.train_test_split(
    X, Y, test_size=0.3, random_state=42)
model_2_8 = BaggingClassifier(
    estimator=tree.DecisionTreeClassifier(max_depth = 10, random_state=42),
    n_estimators=1500,
    random_state=42)
model_2_8.fit(X_train, y_train)
preds_train_2_8 = model_2_8.predict(X_train)
preds_test_2_8 = model_2_8.predict(X_test)
print( round(     (metrics.f1_score(preds_test_2_8, y_test)),3     ))

0.824

Задание 3.4

0.0/4.0 points (graded)
1. Разбейте набор данных на обучающую и тестовую выборку в соотношении 70/30, при разбиении задайте параметр random_state = 13.

Какое получилось среднее значение медианных цен на обучающей выборке? Ответ округлите до двух знаков после точки-разделителя.

  нет ответа 
 
2. Обучите линейную регрессию с параметрами по умолчанию.

В качестве ответа введите ошибку MAE на тестовой выборке. Ответ округлите до двух знаков после точки-разделителя.

  нет ответа 
 

3. Обучите решающее дерево с параметрами по умолчанию и аргументом random_state = 13.

Можно ли, опираясь на результаты, сделать вывод, что алгоритм переобучился?

Да
Нет
нет ответа
4. Обучите четыре случайных леса с числом деревьев 3, 10, 100, 500 и параметром random_state = 13.

В качестве ответа введите наименьшую полученную ошибку MAE на тестовой выборке. Ответ округлите до двух знаков после точки-разделителя.

  нет ответа 
 
Отправить

In [316]:
df_3_4 = pd.read_csv('C:\скил\DST-156\IDE_NEW\MATH&ML-9. Математика ансамблевых методов/boston (1).csv', decimal=',')
df_3_4.head()

,crim_rate,zn,business,river,nit_oxiden,rooms,age,dist,highways_index,tax,pup_per_teaс,lower,target
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2

In [317]:
df_3_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   crim_rate       506 non-null    float64
 1   zn              506 non-null    float64
 2   business        506 non-null    float64
 3   river           506 non-null    int64
 4   nit_oxiden      506 non-null    float64
 5   rooms           506 non-null    float64
 6   age             506 non-null    float64
 7   dist            506 non-null    float64
 8   highways_index  506 non-null    int64
 9   tax             506 non-null    int64
 10  pup_per_teaс    506 non-null    float64
 11  lower           506 non-null    float64
 12  target          506 non-null    float64
dtypes: float64(10), int64(3)
memory usage: 51.5 KB

In [318]:
import pandas as pd
Y= df_3_4['target']
X = df_3_4.drop('target', axis= 1)
X_train, X_test, y_train, y_test = model_selection.train_test_split(
    X, Y, test_size=0.3, random_state=13)
round(y_train.mean(),2)

np.float64(22.77)

In [319]:
model_3_4 = linear_model.LinearRegression()
model_3_4.fit(X_train, y_train)
preds_train_3_4 = model_3_4.predict(X_train)
preds_test_3_4 = model_3_4.predict(X_test)
print(     round(metrics.mean_absolute_error(preds_test_3_4, y_test),2))

3.72

In [320]:
model_3_4_1 = tree.DecisionTreeRegressor(random_state=13)
model_3_4_1.fit(X_train, y_train)
preds_train_3_4_1 = model_3_4_1.predict(X_train)
preds_test_3_4_1 = model_3_4_1.predict(X_test)
print( round(     (metrics.mean_absolute_error(preds_test_3_4_1, y_test)),3     ))
print( round(     (metrics.mean_absolute_error(preds_train_3_4_1, y_train)),3     ))

2.839
0.0

In [321]:
from sklearn.ensemble import RandomForestRegressor

In [322]:
for n in [3, 10, 100, 500]:
    model_3_4_2 = RandomForestRegressor(n_estimators=n,random_state=13)
    model_3_4_2.fit(X_train, y_train)
    preds_train_3_4_2 = model_3_4_2.predict(X_train)
    preds_test_3_4_2 = model_3_4_2.predict(X_test)
    print( round(     (metrics.mean_absolute_error(preds_test_3_4_2, y_test)), 2    ))

2.93
2.47
2.26
2.24

4. Случайный лес. Практика

weatherAUS

In [323]:
data = pd.read_csv('C:\скил\DST-156\IDE_NEW\MATH&ML-9. Математика ансамблевых методов/weatherAUS.csv', decimal=',')
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21,23.2,No,No
3,2008-12-04,Albury,9.2,28,0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006,7.0,8.0,17.8,29.7,No,No

In [324]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  object
 3   MaxTemp        144199 non-null  object
 4   Rainfall       142199 non-null  object
 5   Evaporation    82670 non-null   object
 6   Sunshine       75625 non-null   object
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  object
 16  Pressure3pm    130432 non-null  object
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  object
 20  Temp3pm        141851 non-null  object
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(7), object(16)
memory usage: 25.5+ MB

Задание 4.1

1/1 point (graded)

Сколько суммарно пропусков в данных?

In [325]:
data.isnull().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

Задание 4.2

1/1 point (graded)

В некоторых признаках пропусков более 40 % — удалите такие признаки. Сколько их было?

In [326]:
(data.isna().sum()/len(data)).sort_values(ascending=False)

Sunshine         0.480098
Evaporation      0.431665
Cloud3pm         0.408071
Cloud9am         0.384216
Pressure9am      0.103568
Pressure3pm      0.103314
WindDir9am       0.072639
WindGustDir      0.070989
WindGustSpeed    0.070555
Humidity3pm      0.030984
WindDir3pm       0.029066
Temp3pm          0.024811
RainTomorrow     0.022460
Rainfall         0.022419
RainToday        0.022419
WindSpeed3pm     0.021050
Humidity9am      0.018246
WindSpeed9am     0.012148
Temp9am          0.012148
MinTemp          0.010209
MaxTemp          0.008669
Date             0.000000
Location         0.000000
dtype: float64

In [327]:
mask_1=data.isna().sum()/len(data)
mask_1.sort_values(ascending=False)

Sunshine         0.480098
Evaporation      0.431665
Cloud3pm         0.408071
Cloud9am         0.384216
Pressure9am      0.103568
Pressure3pm      0.103314
WindDir9am       0.072639
WindGustDir      0.070989
WindGustSpeed    0.070555
Humidity3pm      0.030984
WindDir3pm       0.029066
Temp3pm          0.024811
RainTomorrow     0.022460
Rainfall         0.022419
RainToday        0.022419
WindSpeed3pm     0.021050
Humidity9am      0.018246
WindSpeed9am     0.012148
Temp9am          0.012148
MinTemp          0.010209
MaxTemp          0.008669
Date             0.000000
Location         0.000000
dtype: float64

In [328]:
data.drop(['Sunshine','Evaporation','Cloud3pm'],axis=1,inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 20 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  object
 3   MaxTemp        144199 non-null  object
 4   Rainfall       142199 non-null  object
 5   WindGustDir    135134 non-null  object
 6   WindGustSpeed  135197 non-null  float64
 7   WindDir9am     134894 non-null  object
 8   WindDir3pm     141232 non-null  object
 9   WindSpeed9am   143693 non-null  float64
 10  WindSpeed3pm   142398 non-null  float64
 11  Humidity9am    142806 non-null  float64
 12  Humidity3pm    140953 non-null  float64
 13  Pressure9am    130395 non-null  object
 14  Pressure3pm    130432 non-null  object
 15  Cloud9am       89572 non-null   float64
 16  Temp9am        143693 non-null  object
 17  Temp3pm        141851 non-null  object
 18  RainToday      142199 non-null  object
 19  RainTomorrow   142193 non-null  object
dtypes: float64(6), object(14)
memory usage: 22.2+ MB

Задание 4.3

1 point possible (graded)

Теперь обработаем признаки RainToday и RainTomorrow таким образом, чтобы вместо yes было значение 1, а вместо no — значение 0. Обратите внимание на то, что в признаках RainToday и RainTomorrow присутствуют пропуски, и их трогать не нужно, они должны остаться пропусками. Поэтому обрабатывайте столбцы таким образом, чтобы не видоизменить пропущенные значения.

Вычислите среднее арифметическое для преобразованного признака RainToday и запишите его в ответ, предварительно округлив до двух знаков после точки-разделителя.

In [329]:
data.RainToday = data.RainToday.map({'No': 0, 'Yes': 1})
data.RainTomorrow = data.RainTomorrow.map({'No': 0, 'Yes': 1})
data.head(10)

,Date,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,W,44.0,W,WNW,20.0,24.0,71.0,22.0,1007.7,1007.1,8.0,16.9,21.8,0.0,0.0
1,2008-12-02,Albury,7.4,25.1,0,WNW,44.0,NNW,WSW,4.0,22.0,44.0,25.0,1010.6,1007.8,NaN,17.2,24.3,0.0,0.0
2,2008-12-03,Albury,12.9,25.7,0,WSW,46.0,W,WSW,19.0,26.0,38.0,30.0,1007.6,1008.7,NaN,21,23.2,0.0,0.0
3,2008-12-04,Albury,9.2,28,0,NE,24.0,SE,E,11.0,9.0,45.0,16.0,1017.6,1012.8,NaN,18.1,26.5,0.0,0.0
4,2008-12-05,Albury,17.5,32.3,1,W,41.0,ENE,NW,7.0,20.0,82.0,33.0,1010.8,1006,7.0,17.8,29.7,0.0,0.0
5,2008-12-06,Albury,14.6,29.7,0.2,WNW,56.0,W,W,19.0,24.0,55.0,23.0,1009.2,1005.4,NaN,20.6,28.9,0.0,0.0
6,2008-12-07,Albury,14.3,25,0,W,50.0,SW,W,20.0,24.0,49.0,19.0,1009.6,1008.2,1.0,18.1,24.6,0.0,0.0
7,2008-12-08,Albury,7.7,26.7,0,W,35.0,SSE,W,6.0,17.0,48.0,19.0,1013.4,1010.1,NaN,16.3,25.5,0.0,0.0
8,2008-12-09,Albury,9.7,31.9,0,NNW,80.0,SE,NW,7.0,28.0,42.0,9.0,1008.9,1003.6,NaN,18.3,30.2,0.0,1.0
9,2008-12-10,Albury,13.1,30.1,1.4,W,28.0,S,SSE,15.0,11.0,58.0,27.0,1007,1005.7,NaN,20.1,28.2,1.0,0.0

In [330]:
round( data['RainToday'].mean(),2)

np.float64(0.22)

Задание 4.4

1 point possible (graded)

Обработайте признак Date таким образом, чтобы выделить в отдельный признак Month (номер месяца). Изначальный признак Date удалите. Определите, какой месяц имеет самую большую часть дождливых дней относительно всех дней месяца. В качестве ответа введите порядковый номер месяца.

In [331]:
data['Date']=pd.to_datetime(data['Date'])

In [332]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 20 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  datetime64[ns]
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  object
 3   MaxTemp        144199 non-null  object
 4   Rainfall       142199 non-null  object
 5   WindGustDir    135134 non-null  object
 6   WindGustSpeed  135197 non-null  float64
 7   WindDir9am     134894 non-null  object
 8   WindDir3pm     141232 non-null  object
 9   WindSpeed9am   143693 non-null  float64
 10  WindSpeed3pm   142398 non-null  float64
 11  Humidity9am    142806 non-null  float64
 12  Humidity3pm    140953 non-null  float64
 13  Pressure9am    130395 non-null  object
 14  Pressure3pm    130432 non-null  object
 15  Cloud9am       89572 non-null   float64
 16  Temp9am        143693 non-null  object
 17  Temp3pm        141851 non-null  object
 18  RainToday      142199 non-null  float64
 19  RainTomorrow   142193 non-null  float64
dtypes: datetime64[ns](1), float64(8), object(11)
memory usage: 22.2+ MB

In [333]:
# создание столбца year_month
data["Month"] = data["Date"].dt.month
# вывод объекта DataFrame
data

,Date,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Temp9am,Temp3pm,RainToday,RainTomorrow,Month
0,2008-12-01,Albury,13.4,22.9,0.6,W,44.0,W,WNW,20.0,...,71.0,22.0,1007.7,1007.1,8.0,16.9,21.8,0.0,0.0,12
1,2008-12-02,Albury,7.4,25.1,0,WNW,44.0,NNW,WSW,4.0,...,44.0,25.0,1010.6,1007.8,NaN,17.2,24.3,0.0,0.0,12
2,2008-12-03,Albury,12.9,25.7,0,WSW,46.0,W,WSW,19.0,...,38.0,30.0,1007.6,1008.7,NaN,21,23.2,0.0,0.0,12
3,2008-12-04,Albury,9.2,28,0,NE,24.0,SE,E,11.0,...,45.0,16.0,1017.6,1012.8,NaN,18.1,26.5,0.0,0.0,12
4,2008-12-05,Albury,17.5,32.3,1,W,41.0,ENE,NW,7.0,...,82.0,33.0,1010.8,1006,7.0,17.8,29.7,0.0,0.0,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0,E,31.0,SE,ENE,13.0,...,51.0,24.0,1024.6,1020.3,NaN,10.1,22.4,0.0,0.0,6
145456,2017-06-22,Uluru,3.6,25.3,0,NNW,22.0,SE,N,13.0,...,56.0,21.0,1023.5,1019.1,NaN,10.9,24.5,0.0,0.0,6
145457,2017-06-23,Uluru,5.4,26.9,0,N,37.0,SE,WNW,9.0,...,53.0,24.0,1021,1016.8,NaN,12.5,26.1,0.0,0.0,6
145458,2017-06-24,Uluru,7.8,27,0,SE,28.0,SSE,N,13.0,...,51.0,24.0,1019.4,1016.5,3.0,15.1,26,0.0,0.0,6
145459,2017-06-25,Uluru,14.9,NaN,0,NaN,NaN,ESE,ESE,17.0,...,62.0,36.0,1020.2,1017.9,8.0,15,20.9,0.0,NaN,6

In [334]:
data.drop(['Date'],axis=1,inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 20 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Location       145460 non-null  object
 1   MinTemp        143975 non-null  object
 2   MaxTemp        144199 non-null  object
 3   Rainfall       142199 non-null  object
 4   WindGustDir    135134 non-null  object
 5   WindGustSpeed  135197 non-null  float64
 6   WindDir9am     134894 non-null  object
 7   WindDir3pm     141232 non-null  object
 8   WindSpeed9am   143693 non-null  float64
 9   WindSpeed3pm   142398 non-null  float64
 10  Humidity9am    142806 non-null  float64
 11  Humidity3pm    140953 non-null  float64
 12  Pressure9am    130395 non-null  object
 13  Pressure3pm    130432 non-null  object
 14  Cloud9am       89572 non-null   float64
 15  Temp9am        143693 non-null  object
 16  Temp3pm        141851 non-null  object
 17  RainToday      142199 non-null  float64
 18  RainTomorrow   142193 non-null  float64
 19  Month          145460 non-null  int32
dtypes: float64(8), int32(1), object(11)
memory usage: 21.6+ MB

In [341]:
mask_4_4 = data.groupby('Month').mean(numeric_only=True)
mask_4_4['RainToday'].sort_values(ascending=False)

Month
7     0.270736
6     0.263638
8     0.253167
9     0.229135
5     0.222163
3     0.217135
4     0.216845
12    0.213037
11    0.210843
2     0.206746
10    0.196512
1     0.189484
Name: RainToday, dtype: float64