In [331]:
import pandas as pd
import numpy as np
df = pd.read_csv("C:\скил\DST-156\IDE_NEW\Домашнее задание. Этап 1/books.csv", index_col = "Unnamed: 0")
df.head(246)

,title,authors,average_rating,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,title_ser,num_in_ser
0,Harry Potter and the Half-Blood Prince,J.K. Rowling/Mary GrandPré,4.57,eng,652.0,2095690,27591,9/16/2006,Scholastic Inc.,Harry Potter,6
1,Harry Potter and the Order of the Phoenix,J.K. Rowling/Mary GrandPré,4.49,eng,870.0,2153167,29221,9/1/2004,Scholastic Inc.,Harry Potter,5
2,Harry Potter and the Chamber of Secrets,J.K. Rowling,4.42,eng,352.0,6333,244,11/1/2003,Scholastic,Harry Potter,2
3,Harry Potter and the Prisoner of Azkaban,J.K. Rowling/Mary GrandPré,4.56,eng,435.0,2339585,36325,5/1/2004,Scholastic Inc.,Harry Potter,3
4,"Unauthorized Harry Potter Book Seven News: ""Ha...",W. Frederick Zimmerman,3.74,other,152.0,19,1,4/26/2005,Nimble Books,-,0
...,...,...,...,...,...,...,...,...,...,...,...
241,Le Réseau Kinakuta,Neal Stephenson,4.10,other,418.0,5,0,3/31/2001,Payot,Cryptonomicon,2
242,The Confusion,Neal Stephenson,4.26,other,815.0,19320,565,6/14/2005,William Morrow Paperbacks,The Baroque Cycle,2
243,Quicksilver,Neal Stephenson,3.93,eng,NaN,30872,1735,9/21/2004,HarperCollins Perennial,The Baroque Cycle,1
244,The Cobwe,Neal Stephenson/J. Frederick George,3.61,eng,448.0,2465,137,5/31/2005,Spectra Books,-,0
245,The Big,Neal Stephenson,3.25,other,308.0,4657,223,2/6/2001,William Morrow Paperbacks,-,0

In [332]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10063 entries, 0 to 10062
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               10063 non-null  object
 1   authors             10063 non-null  object
 2   average_rating      8591 non-null   float64
 3   language_code       10063 non-null  object
 4   num_pages           8379 non-null   float64
 5   ratings_count       10063 non-null  int64
 6   text_reviews_count  10063 non-null  int64
 7   publication_date    10063 non-null  object
 8   publisher           9508 non-null   object
 9   title_ser           10063 non-null  object
 10  num_in_ser          10063 non-null  int64
dtypes: float64(2), int64(3), object(6)
memory usage: 943.4+ KB

In [333]:
df['title'].nunique()

10063

In [334]:
df_5=df[(df['language_code'] == 'eng')].shape[0]
df_5

8069

In [295]:
mask_1=df[(df['language_code'] == 'eng') & (df['title_ser'] == '-')].shape[0]
mask_1

6330

In [296]:
df['title'].nunique()

10063

In [297]:
round((mask_1/df['title'].nunique()*100),5)

62.90371

In [298]:
round((df[   (df['language_code'] == 'eng') & (df['title_ser'] == '-')].shape[0])*100/(df['title'].nunique()),2)

62.9

In [299]:
df[   (df['publisher'] == 'Penguin Classics') | (df['ratings_count'] >= 10000)].shape[0]/df['title'].nunique()

0.1921892079896651

In [300]:
df[   (df['language_code'] == 'eng') & (df['num_in_ser'] == 0)].shape[0]

6335

In [301]:
df_3=df[df['language_code'] == 'eng']
df_3[  (df['title_ser'] == '-')].shape[0]

C:\Users\molde\AppData\Local\Temp\ipykernel_26480\3234866500.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_3[  (df['title_ser'] == '-')].shape[0]

6330

In [302]:
df_3[(df['num_in_ser'] == 0)].nunique()

C:\Users\molde\AppData\Local\Temp\ipykernel_26480\679130471.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_3[(df['num_in_ser'] == 0)].nunique()

title                 6335
authors               4526
average_rating         197
language_code            1
num_pages              810
ratings_count         3463
text_reviews_count    1340
publication_date      2816
publisher             1541
title_ser                7
num_in_ser               1
dtype: int64

In [303]:
df[(df['language_code'] == 'eng') & (df['title_ser'] == '-')].shape[0]

6330

In [304]:
(df['title'].nunique())

10063

In [305]:
round((df[   (df['language_code'] == 'eng') & (df['title_ser'] == '-')].shape[0])*100/(df['title'].nunique()),2)

62.9

In [306]:
df[   (df['publisher'] == 'Penguin Classics') | (df['ratings_count'] >= 10000)].shape

(1934, 11)

In [307]:
df['title'].nunique()

10063

In [308]:
df[    df['title_ser']== 'Stardust Crusaders'].shape[0]

12

In [309]:
df[   df['num_pages']>1000     ].shape[0]

133

In [310]:
df['title_ser'].nunique()

1081

In [311]:
df.dtypes

title                  object
authors                object
average_rating        float64
language_code          object
num_pages             float64
ratings_count           int64
text_reviews_count      int64
publication_date       object
publisher              object
title_ser              object
num_in_ser              int64
dtype: object

In [312]:
df.shape

(10063, 11)

In [313]:
df.columns

Index(['title', 'authors', 'average_rating', 'language_code', 'num_pages',
       'ratings_count', 'text_reviews_count', 'publication_date', 'publisher',
       'title_ser', 'num_in_ser'],
      dtype='object')

Датасэт содержит данные о книгах с сайта Goodreaders. Описание колонок:

title - название книги
authors - автор книги
average_rating - рейтинг книги по данным сайта Goodreaders
language_code - язык книги (eng, other)
num_pages - количество страниц
ratings_count - количество пользователей поставивших оценку книге
text_reviews_count - количество пользовательских рецензий на книгу
publication_date - дата публикации (м/д/г)
publisher - издатель
title_ser - название серии (если книга не входит в серию, то -)
num_in_ser - номер книги в серии (если книга не входит в серию, то 0)

In [314]:
df.isnull().sum()

title                    0
authors                  0
average_rating        1472
language_code            0
num_pages             1684
ratings_count            0
text_reviews_count       0
publication_date         0
publisher              555
title_ser                0
num_in_ser               0
dtype: int64

In [315]:
df['ratings_count']

0        2095690
1        2153167
2           6333
3        2339585
4             19
          ...
10058        156
10059        783
10060        820
10061        769
10062        113
Name: ratings_count, Length: 10063, dtype: int64

In [316]:
df['publisher'][245]

'William Morrow Paperbacks'

Отсортируйте книги по дате публикации (по убыванию) и узнайте название книги, которая выводится первой

In [317]:
df['publication_date'].value_counts().sort_index(ascending = False)

publication_date
9/9/2010     1
9/9/2009     1
9/9/2008     1
9/9/2004     4
9/9/2003    12
            ..
1/1/1921     2
1/1/1919     1
1/1/1914     1
1/1/1913     1
1/1/1900     1
Name: count, Length: 3482, dtype: int64

In [318]:
df[['publication_date','title']].sort_values(['publication_date'],ascending = False)

     publication_date                                              title
6193         9/9/2010                      The Postman Always Rings Twic
8006         9/9/2009                                 The Empty Envelope
8471         9/9/2008                              The Tale of Despereau
8608         9/9/2004  The Art of the Start: The Time-Tested  Battle-...
9289         9/9/2004                        The New Rules of High Schoo
...               ...                                                ...
384          1/1/1921           History of the Peloponnesian War: Bk. 5-
382          1/1/1919           History of the Peloponnesian War: Bk. 1-
6161         1/1/1914           Agricola / Germania / Dialogue on Orator
5848         1/1/1913                                          On Duties
8464         1/1/1900                                 Consider the Lilie

[10063 rows x 2 columns]

In [319]:
df = df.dropna(subset=['average_rating'])
df_1=df[   df['average_rating']>0    ]

df_1[['publisher','average_rating']].sort_values(['average_rating'],ascending = True)

                            publisher  average_rating
8609         Walter Foster Publishing            1.00
7233         Intercultural Publishing            1.67
4991                  McDougal Littel            2.00
3544      University of Toronto Press            2.00
7337                 Cengage Learning            2.00
...                               ...             ...
3745                              NaN            5.00
5098                  Chartwell Books            5.00
5099                  T&T Clark Int'l            5.00
8380  University Press of New England            5.00
5629                    Courage Books            5.00

[8569 rows x 2 columns]

In [320]:
df['average_rating']!="NaN"

0        True
1        True
2        True
3        True
4        True
         ...
10058    True
10059    True
10060    True
10061    True
10062    True
Name: average_rating, Length: 8591, dtype: bool

In [321]:
df[['publisher','average_rating']].sort_values(['average_rating'],ascending = False)

                                    publisher  average_rating
4338                    Square One Publishers             5.0
4934                       BBC Physical Audio             5.0
5629                            Courage Books             5.0
705                            Schirmer Mosel             5.0
4466                            Vantage Press             5.0
...                                       ...             ...
4795                        Arts Publications             0.0
6202  Hodder & Stoughton Educational Division             0.0
6459                         K.G. Saur Verlag             0.0
6220         Knopf Doubleday Publishing Group             0.0
7049                            Beckett Media             0.0

[8591 rows x 2 columns]